@import url(https://fonts.googleapis.com/css?family=Lobster|Titan+One);

/* Estilos del texto y animación */
.text-container {
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro semitransparente */
    padding: 10px;
    border-radius: 5px;
}

.blinking-text {
    font-size: 34px;
    color: #ff69b4;
    text-align: center;
    font-family: 'Lobster', cursive;
    /* Usando la fuente */
    animation: blink-animation 1s steps(5, start) infinite;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

/* Estilo general para el texto romántico */
body {
    font-family: 'Lobster', cursive;
    font-size: 1.6em;
    color: #ff69b4;
}

/* Para ajustar el tamaño del texto responsivamente */

/* Pantallas pequeñas (240px a 320px) */
@media screen and (max-width: 320px) {
    .blinking-text {
        font-size: 20px;
    }

    body {
        font-size: 1.2em;
    }
}

/* Pantallas medianas (360px a 480px) */
@media screen and (min-width: 360px) and (max-width: 480px) {
    .blinking-text {
        font-size: 28px;
    }

    body {
        font-size: 1.4em;
    }
}

/* Pantallas grandes (más de 480px) */
@media screen and (min-width: 481px) {
    .blinking-text {
        font-size: 34px;
    }

    body {
        font-size: 1.6em;
    }
}
