@import url(https://fonts.googleapis.com/css?family=Lobster|Titan+One);

/* Estilos del texto y animación */
.text-container {
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro semitransparente */
    padding: 10px;
    border-radius: 5px;
}

.blinking-text {
    font-size: 34px;
    color: #ff69b4;
    text-align: center;
    font-family: 'Lobster', cursive;
    /* Usando la fuente */
    animation: blink-animation 1s steps(5, start) infinite;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

/* Estilo general para el texto romántico */
body {
    font-family: 'Lobster', cursive;
    /* Usando la fuente */
    font-size: 1.6em;
    color: #ff69b4;
}